.slick-prev:before {
    content: url(../../assets/Vector4.svg);
}
.slick-next:before {
    content: url(../../assets/Vector3.svg);
}
.slick-prev:before {
    opacity: .75;
    color: #282828;
    -webkit-font-smoothing: antialiased;
}
.slick-next:before {
    opacity: .75;
    color: #282828;
    -webkit-font-smoothing: antialiased;
}

@keyframes updown
{
    0%{
        transform: translateY(0px);
    }
    50%
    {
        transform: translateY(30px);
    }
    100%{
        transform: translateY(0px);
    }
}
.Os-animation {
    transition: 1s;
    transform: rotate(0deg);
    animation: updown 2s infinite linear;
}
@media screen and (min-width:1366px) {
    .slick-next:before {
        position: relative;
        right: 2.06rem;
    }
    .slick-prev:before {
        position: relative;
        left: 2.06rem;
    }
}